name: Build
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Set up JDK 16
      uses: actions/setup-java@v2
      with:
        java-version: 16
        distribution: 'adopt'
    - name: Read .nvmrc
      run: echo "##[set-output name=NVMRC;]$(head -1 .nvmrc)"
      id: nvm
    - name: Set up NodeJS
      uses: actions/setup-node@v2
      with:
        node-version: "${{ steps.nvm.outputs.NVMRC }}"
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Build
      run: ./gradlew build sonarqube --info
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    - name: Upload Test Report
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: build reports
        path: build/reports
    - name: Release
      run: |
        npm ci
        npm run semantic-release
      env:
        GITHUB_ACTOR: ${{ secrets.GITHUB_ACTOR }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
